EZ3YRC_0927/EZ3YRC_mozi.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT mozi (film)*>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film mufaj (romantikus | thriller | akcio) "horror">

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #IMPLIED>

<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #IMPLIED>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>